.news1 {
  display: flex;
  justify-content: center;
  @include rem(margin-bottom, 74px);

  .container {
    flex-direction: column;
  }

  h2 {
    font-size: 1.8889rem;
    margin-top: 2.5rem;
    line-height: 38, 0.2778rem;
  }

  .awtor {
    margin-top: 0.5rem;
    font-size: 0.8333rem;
  }

  .news1back {
    display: block;
    margin-top: 1rem;
    margin-bottom: 1.9444rem;
  }
}

.news1-text2 {
  padding-bottom: 1.0556rem;
}
